<div class="categories-container">
  <h2>Shop by Categories</h2>
  <ul class="categories-list">
    <li *ngFor="let cat of categories" (click)="loadProducts(cat)">
      {{ cat | titlecase }}
    </li>
  </ul>
 
  <div *ngIf="selectedCategory">
    <h3>Products in {{ selectedCategory | titlecase }}</h3>
    <div class="products-grid">
      <div class="product-card" *ngFor="let p of products" (click)="openProduct(p.id)">
        <img [src]="p.image" alt="{{p.title}}">
        <h4>{{ p.title }}</h4>
        <p>{{ p.price | currency:'INR' }}</p>
        <button (click)="addToCart(p)" class="btn">Add to Cart</button>
      </div>
    </div>
  </div>
</div>