


<header class="navbar">
  <div class="navbar-container">
    
    <div class="logo">KartCom</div>
  <input type="text" placeholder="Search products..." class="search-bar">
    
    <div class="menu-toggle" (click)="isMenuOpen = !isMenuOpen">
      ☰
    </div>
 
    <!-- Links -->
    <nav [class.active]="isMenuOpen">
      <a routerLink="/home">Home</a>
      <a routerLink="product" >Products</a>
      <a routerLink="/categories">Categories</a>
      <a routerLink="/cart" >🛒 Cart{{0}}</a>
    
      <!-- If logged in -->
      <ng-container *ngIf="isLoggedIn; else guestLinks">
        <a routerLink="/userprofile" class="profile">
          👤 {{ username }}
        </a>
        <button class="logout-btn" (click)="logout()">Logout</button>
      </ng-container>
 
      <!-- If not logged in -->
      <ng-template #guestLinks>
        <a href="/" *ngIf="!isLoggedIn">Login</a>    
      </ng-template>
    </nav>
  </div>
</header>





